#empire-answer {
    visibility: hidden;
    height: 0px;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 200px;
}

#image {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#image > p {
    width: 700px;
}

#image > section > img {
    height: auto;
    width: 150px;
    transition-timing-function: linear;
    transition-duration: 0.3s;
}

#image > section > img:hover {
    width: 250px;
    height: auto;
}

#image > section > p {
    margin-top: 1px;
    font-size: 12px;
    color: grey;
    text-align: center;
}